@charset "utf-8";
/* CSS Document */
#genel
{
margin:auto;
width:100%;
}
.aciklama
{
	width:49%; 
	float:right;
	text-align:center;
}

.giris
{
margin-top:13%;
     width:50%; 
	  float:left;
}
.satir
{
     
	 min-height:30px;
	 min-width:300px; 
	 margin-top:10px;
	 
}

.sag { 
    height:100%;
    width:59%;
	float:left;
	text-align:left;
	 
}
.sol {
	height:100%;
	width:40%;	
	float:left;
	
	text-align:left;
}

#girisyap
{
text-align:right;
margin-top:10px;

}
#girisyap input
{
width:200px;
padding:5px;
font-size:16px;
background-color:#A3BB9D;
}

.sag input
{
width:100%;
}