#headerAnaDiv{
	height:auto;
	width:80%;
	margin-left:auto;
	margin-right:auto;
	min-width:1000px;
	background-color:#2B5063;
}
#headerLeft ,#headerRight{
	float:left;
	width:49%;
	margin-top:25px;
	margin-bottom:25px;
	
}
.headerButon{
	height:35px;
	
	min-width:180px;
	margin-right:30px;
	background-color:#15f;
	margin-top:30px;
	line-height:35px;
	border-radius: 8px;
}
.headerButon {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.headerButon:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}
#headerRight a
{
float:right;
text-decoration:none;}
#headerLogo{
	float:left;
	margin-left:25px;
	height:100px;
	border-radius:20px;
	width:100px;
	/* background-color:#186; */
	background: url(../img/logo.png);
}
#headerSlogan{
	
	float:left;
	margin-left:35px;
	line-height:30px;
	margin-top:25px;
	color:#fff;
	font-size:30px;line-height:60px;
}
 a .headerButon span{
	color:#f2f2f2;
	margin-left:35%;
}
.clear{
	clear:both;
}