#headerAnaDiv{
	height:auto;
	width:80%;
	margin-left:auto;
	margin-right:auto;
	min-width:1000px;
	background-color:#2B5063;
}
#headerLeft ,#headerRight{
	float:left;
	width:49%;
	margin-top:25px;
	margin-bottom:25px;
	
}
.headerButon{
	height:35px;
	
	min-width:180px;
	margin-right:30px;
	background-color:#15f;
	margin-top:30px;
	line-height:35px;
}
#headerRight a
{
float:right;
text-decoration:none;}
#headerLogo{
	float:left;
	margin-left:25px;
	height:100px;
	border-radius:50px;
	width:100px;
	background-color:#186;
}
#headerSlogan{
	background-color:#ff9;
	float:left;
	margin-left:10px;
	line-height:30px;
	height:35px;
	margin-top:30px;
	
}
 a .headerButon span{
	color:#f2f2f2;
	margin-left:35%;
}
.clear{
	clear:both;
}