.gosteri > ul{
	list-style-type:none;
	padding: 0;
	margin: 0;
	border: 0;
}

.islem > span{
	cursor:pointer;
	padding: 0;
	margin: 0;
	border: 0;
}

.ana{
	margin-left:100px;
	margin-top:20px;
	width:80%;
	height:600px;
	border:1px solid #ccc;
	padding: 0;
	border: 0;
}

.gosteri{
	width:100%;
	height:85%;
	background:#eee;
	padding: 0;
	margin: 0;
	border: 0;
}

.secici{
	width:100%;
	height:5%;
	background:#ccc;
	text-align:center;
	padding: 0;
	margin: 0;
	border: 0;
}

.islem{
	width:100%;
	height:10%;
	background:#aaa;
	padding: 0;
	margin: 0;
	border: 0;
}